server:
  port: 8080
  readTimeout: 15s
  writeTimeout: 15m
  gracefulShutdown: 30s
  host: "https://short.ru"
db:
  dataSourceName: "host=localhost user=short password=short dbname=short port=5432 sslmode=disable TimeZone=Europe/Moscow"
  logLevel: 2
  pool:
    maxOpen: 50
    maxIdle: 20
    maxLifetime: "5m"
logging:
  level: -1
  encoding: console
  development: true